* 
{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

:root 
{
    --bg-color: #aaa;
    --div-color: #000;
    --radius: 10px;
}

header 
{
    background-color: var(--bg-color);
    border-radius: var(--radius);
    width: 100%;
    text-align: center;
    height: 100px;
}

body 
{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div
{
    background-color: var(--bg-color);
    color: rgb(30, 30, 30);
    /* --color: #909999; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    width: 100%;
    height: 200px;
}

div a
{
    color: white;
    background-color: rgb(72, 255, 0);
    width: 50%;
    overflow: auto;
    border-radius: var(--radius);
    display: inline-flex;
    height: 90%;
    width: 80%;
    font-size: 29px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}